
/* Add Article */
#title-row h1 {
    margin-top: 150px;
    text-align: left;
    font-size: 40px;
}

#content-row {
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

#content-row form {
    margin: auto;
    width: 100%;
}

.form-group label {
    margin-top: 10px;
}
/* User profile uploading*/


.upload-photo-input {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    width: 1px;
}


/*    UPLOADING FILE     */



.file-input {
    display: inline-block;
    text-align: left;
    background: #fff;
    padding: 4px;
    width:100%;
    position: relative;
    border-radius: 3px;
}

.file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: #eee;
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
}

.file-input:hover > .button {
    background: dodgerblue;
    color: white;
}

.file-input > .label {
    color: #333;
    /*white-space: nowrap;*/
    opacity: .3;
}

.file-input.-chosen > .label {
    opacity: 1;
}
@media screen and (max-width: 640px){
    .file-input{
        padding-left: 0px !important;
        padding-right: 0px !important;
        border: none !important;
    }
    .file-input > .button {
        width: 100%;
        text-align: center;
    }

}




/*.form-group input[placeholder] {*/
/*    font-size: 15px;*/
/*}*/

/*.form-group textarea[placeholder] {*/
/*    font-size: 15px;*/
/*}*/

/*.form-control {*/
/*    border: 0;*/
/*    border-bottom: 3px solid #006fa5;*/
/*    border-radius: 0;*/
/*    font-size: 15px;*/
/*}*/

@media screen and (max-width: 400px) {
    .form-group textarea[placeholder] {
        font-size: 13px;
    }
}

@media screen and (max-width: 280px) {
    .form-group textarea[placeholder] {
        font-size: 10px;
    }
}


.post-article-btn {
    border: 1px solid green;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 200px;
    width: 100%;
    border-radius: 30px;
    border: 0;
    background-color: #006fa5;
    color: white;
}

.post-article-btn:hover {
    background-color: #006ea5dc;
    color: white;
}

.post-article-btn h6 {
    margin: auto;
    padding: 8px;
    font-size: 1.25em;
}

.post-article-btn a {
    text-decoration: none;
    color: white;
}

/* Footer */
.footer {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    text-align: center;
}

.footer h5 {
    padding: 25px;
    color: gray;
    margin: auto;
}

