body {
    font-family: 'Poppins', sans-serif;
}
.form-control{
    width: 100% !important;
    border-radius: 10px!important;
    /* background-color: #f4f4f4; */
    border: 3px solid #f4f4f4!important;
    outline: none!important;
    padding: 10px 15px!important;
    -webkit-box-shadow: 0px 15px 50px -15px rgba(233,233,233,0.9)!important;
    box-shadow: 0px 15px 50px -15px rgba(233,233,233,0.9)!important;
    /*-webkit-appearance: none !important;*/

}
#startyear, #endyear{
    width: 45%;
    border-radius: 10px!important;
    /* background-color: #f4f4f4; */
    border: 3px solid #f4f4f4!important;
    outline: none!important;
    padding: 10px 15px!important;
    -webkit-box-shadow: 0px 15px 50px -15px rgba(233,233,233,0.9)!important;
    box-shadow: 0px 15px 50px -15px rgba(233,233,233,0.9)!important;
    /*-webkit-appearance: none !important;*/

}
.file-input {
    width: 100% !important;
    border-radius: 10px!important;
    /* background-color: #f4f4f4; */
    border: 3px solid #f4f4f4!important;
    outline: none!important;
    -webkit-box-shadow: 0px 15px 50px -15px rgba(233,233,233,0.9)!important;
    box-shadow: 0px 15px 50px -15px rgba(233,233,233,0.9)!important;
    -webkit-appearance: none !important;
}
 .form-group{
    margin-top: 20px !important;
}
.form-row{
    margin-top: 10px !important;
}
.form-group label{
    padding-left: 12px !important;
}
.form-row label{
    padding-left: 12px !important;
}
/* Search Container */
#search-container {
    margin-top: 150px;
    text-align: center;
}

.logo-text i {
    color: #006fa5;
}

.works-users-radio {
    margin-top: 30px;
}

.works-users-radio svg {
    width: 25px;
}


/* Random Articles */
.random-articles {
    width: 60%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 150px;
}

.random-articles h6 {
    margin: auto;
    margin-top: 50px;
    text-align: left;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    font-size: 20px;
}

.random-articles-content {
    margin-top: 20px;
}

.random-articles-content h3 {
    display: inline-block;
    font-size: 18px;
    width: 60px;
    line-height: 20px;
    padding: 8px 16px 8px 0;
    margin-left: 15px;
    margin-right: 15px;
}

.random-articles-content a {
    padding: 8px 0;
    color: black;
}

.random-articles-content a:hover {
    color: #006fa5;
}

.random-articles-content .col {
    padding-left: 0;
}

@media screen and (max-width: 768px) {
    .random-articles {
        width: 80%;
    }
    .random-articles h6 {
        font-size: 18px;
    }
    .random-articles-content h3 {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .random-articles {
        width: 75%;
    }
    .random-articles h6 {
        font-size: 18px;
    }
    .random-articles-content h3 {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .random-articles {
        width: 90%;
    }
    .random-articles h6 {
        font-size: 16px;
    }
    .random-articles-content h3 {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 280px) {
    .random-articles {
        width: 90%;
    }
    .random-articles h6 {
        font-size: 16px;
    }
    .random-articles-content h3 {
        font-size: 14px;
        width: 100%;
    }
}



/*!* Register Button *!*/
/*.register-btn {*/
/*    border: 2px solid #006fa5;*/
/*    color: #006fa5;*/
/*    margin-right: 5px;*/
/*    border-radius: 30px;*/
/*}*/

/*.register-btn a {*/
/*    text-decoration: none;*/
/*    color: #006fa5;*/
/*}*/

/*.register-btn:focus {*/
/*    outline: none;*/
/*    box-shadow: none;*/
/*}*/

/*.register-btn:hover {*/
/*    background-color: rgba(211, 211, 211, 0.336);*/
/*    color: #006fa5;*/
/*}*/


@media screen and (max-width: 500px) {
    #header  {
        padding-right: 40px;
    }
}

@media screen and (max-width: 320px) {
    #header  {
        padding-right: 25px;
    }
    #header h6 {
        font-size: 1em;
    }
    .register-btn  {
        padding: 5px;
        font-size: 15px;
    }
    .login-btn {
        padding: 5px;
        font-size: 15px;
    }
}

@media screen and (max-width: 280px) {
    #header {
        padding-right: 20px;
    }
    .register-btn  {
        padding: 5px;
        font-size: 13px;
    }
    .login-btn {
        padding: 5px;
        font-size: 13px;
    }
}


.logo-text {
    font-size: 5em;
    color: #006fa5;
    margin: auto;
}



/* Search */
.search-header {
    margin-top: 150px;
}

#post-search-container {
    padding: 0;
}

.post-search-wrapper {
    border: 1px solid red;
    width: 60%;
    /* margin: auto; */
    /* margin: 20px auto; */
    padding: 0 0 0 20px;
    border: 3px solid #f0f0f0;
    border-radius: 20px;
}

.post-search-wrapper svg {
    margin-bottom: 3px;
}

.main-search-bar {
    /* border: 1px solid red; */
    width: 95%;
    border: 0;
    border-radius: 20px;
    padding: 12px 20px 12px 10px;
    outline: none;
}

.main-search-bar::placeholder{
    color: rgb(150, 150, 150);
}


@media screen and (max-width: 1200px) {
    .post-search-wrapper {
        width: 65%;
    }
}

@media screen and (max-width: 992px) {
    .post-search-wrapper {
        width: 70%;
    }
    .main-search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .post-search-wrapper {
        width: 100%;
    }
    .main-search-bar {
        width: 90%;
    }
    #post-search-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 360px) {
    .post-search-wrapper {
        width: 100%;
        padding: 0 0 0 5px;
    }
    .post-search-wrapper svg {
        width: 22px;
        height: 22px;
    }
    .main-search-bar {
        width: 85%;
        padding: 10px 18px 10px 8px;
    }
}

@media screen and (max-width: 320px) {
    input.main-search-bar {
        font-size: 15px;
    }
}

@media screen and (max-width: 280px) {
    input.main-search-bar {
        font-size: 14px;
    }
    .post-search-wrapper svg {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
    }
    .main-search-bar {
        padding: 8px 16px 8px 6px;
    }
}



/* Search Container */
#search-container {
    margin-top: 150px;
    text-align: center;
}

.works-users-radio {
    margin-top: 30px;
}

.works-users-radio svg {
    width: 25px;
}

.logo-text {
    font-size: 5em;
    color: #006fa5;
    margin: auto;
}


/* Search */
.search-header {
    margin-top: 150px;
}

.search-wrapper {
    border: 1px solid red;
    width: 60%;
    margin: 20px auto;
    padding: 0 0 0 20px;
    border: 3px solid #f0f0f0;
    border-radius: 20px;
}

.search-wrapper svg {
    margin-bottom: 3px;
}

.main-search-bar {
    /* border: 1px solid red; */
    width: 95%;
    border: 0;
    border-radius: 20px;
    padding: 12px 20px 12px 10px;
    outline: none;
}


@media screen and (max-width: 1200px) {
    .search-wrapper {
        width: 64%;
    }
}

@media screen and (max-width: 992px) {
    .search-wrapper {
        width: 60%;
    }
    .main-search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .search-wrapper {
        width: 80%;
    }
    .main-search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .logo-text  {
        font-size: 4.5em;
    }
    .main-search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 430px) {
    .logo-text  {
        font-size: 4.5em;
    }
    .main-search-bar {
        width: 85%;
    }
}

@media screen and (max-width: 360px) {
    .logo-text  {
        font-size: 4em;
    }
    .search-wrapper {
        width: 100%;
        padding: 0 0 0 5px;
    }
    .search-wrapper svg {
        width: 22px;
        height: 22px;
    }
    .main-search-bar {
        width: 85%;
        padding: 10px 18px 10px 8px;
    }
}

@media screen and (max-width: 320px) {
    .logo-text  {
        font-size: 3.5em;
    }
    input.main-search-bar {
        font-size: 15px;
    }
}

@media screen and (max-width: 280px) {
    .logo-text  {
        font-size: 3em;
    }
    input.main-search-bar {
        font-size: 14px;
    }
    .search-wrapper svg {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
    }
    .main-search-bar {
        padding: 8px 16px 8px 6px;
    }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    /*-webkit-appearance: none;*/
    box-shadow: none !important;
}

@media screen and (max-width: 768px) {
    .main-search-bar {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .logo-text h1  {
        font-size: 4.5em;
    }
    .main-search-bar {
        width: 75%;
    }
}

@media screen and (max-width: 360px) {
    .logo-text h1  {
        font-size: 4em;
    }
    .main-search-bar {
        width: 85%;
    }
}

@media screen and (max-width: 320px) {
    .logo-text h1  {
        font-size: 3.5em;
    }
    .main-search-bar {
        width: 80%;
    }
    input.main-search-bar {
        font-size: 15px;
    }
}


@media screen and (max-width: 280px) {
    .logo-text h1  {
        font-size: 3em;
    }
    input.main-search-bar {
        font-size: 14px;
    }
    .main-search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .logo-text i {
        font-size: 13px;
    }
}

@media screen and (max-width:280px) {
    .logo-text i {
        font-size: 12px;
    }
}



/* Search Header */
.search-header {
    margin-top: 150px;
}

.logo-text i {
    color: #006fa5;
}




/* ------------ NEW -------------- */

/* Posts Content */
#posts-container {
    margin-top: 50px;
}

.preferences-options {
    border: 0;
    border-bottom: 3px solid #006fa5;
    border-radius: 0;
    font-size: 14px;
}

#posts-preferences {
    padding-left: 0;
    padding-right: 50px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    #posts-preferences {
        padding: 25px;
    }
}

#posts-content {
    text-align: left;
    margin-bottom: 150px;
}

#posts-content a {
    color: black;
}

#posts-content a:hover {
    color: #006fa5;
}

#posts-content p {
    text-align: left;
}

.posts-col {
    margin-top: 30px;
    border-bottom: 2px solid #006fa5;
    padding-bottom: 25px;
}
.posts-col svg {
    width: 22px;
    margin-bottom: 5px;
    margin-right: 6px;
}

.post-description {
    font-size: 12px;
}

.save-preferences {
    text-align: center;
}

.save-preferences-btn {
    background-color: #006fa5;
    color: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.save-preferences-btn h6 {
    margin: auto;
    padding: 2px;
}

.save-preferences-btn:hover {
    background-color: #006ea5dc;
    color: white;
}

.post-options {
    margin-top: 10px;
}

#pdf-icon {
    margin-right: 5px;
}


/* User Edit Profile */
#remove-photo-link{
    color: #dc3545;margin-left: 20px; margin-top:-40px;
}
.edit-profile-camera{
    position: absolute;
    background: red;
    top:0;
    margin-top: 85%;
    margin-left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.upload-photo-btn img:hover{
    opacity: 0.9;
}
.upload-photo-btn{
    width: 140px;
    height: auto
}
.edit-profile-camera svg{
    width:30px;
    height: 30px;
}
.user-edit-profile {
    margin-top: 150px;
    margin-bottom: 150px;
}
@media screen and (max-width: 640px){
    .user-edit-profile {
        margin-top: 125px !important;
    }
}

#edit-profile-side a {
    color: black;
    text-decoration: none;
}

#edit-profile-side svg {
    width: 25px;
    margin-bottom: 3px;
    color: #006fa5;
}

.edit-profile-side-text {
    font-size: 20px;
    margin-bottom: 25px;
}

.edit-profile-text {
    font-size: 40px;
    text-align: left;
}

#edit-profile-user-photo img {
    width: 30%;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*.edit-profile-form-fields .form-control {*/
/*    border-radius: 10px;*/
/*    border: 3px solid rgb(185, 185, 185);*/
/*}*/

#edit-profile-fields {
    max-width: 600px;

}


.edit-profile-buttons {
    text-align: center;
    margin-top: 50px;
}


.save-button {
    border: 2px solid #006fa5;
    background-color: #006fa5;
    border-radius: 10px;
    width: 150px;
    float: left;

}

.save-button h5 {
    color: white;
    margin: auto;
    padding: 5px;
}

.save-button:hover {
    background-color: #006ea5dc;
    color: white;
}


/* User Edit Account */
.user-edit-account {
    margin-top: 150px;
    margin-bottom: 150px;
}

#edit-account-side a {
    color: black;
    text-decoration: none;
}

#edit-account-side svg {
    width: 25px;
    margin-bottom: 3px;
    color: #006fa5;
}

.edit-account-side-text {
    font-size: 20px;
    margin-bottom: 25px;
}

.edit-account-text {
    font-size: 40px;
    text-align: left;
}

/*.edit-account-form-fields .form-control {*/
/*    border-radius: 10px;*/
/*    border: 3px solid rgb(185, 185, 185);*/
/*}*/

#edit-account-fields {
    max-width: 500px;
}

#edit-account-emai-field {
    margin-top: 50px;
}

.user-link-text {
    font-size: 10px;
    color: gray;
}

.edit-account-gender {
    margin-top: 22px;
}

.delete-account-text h6 {
    margin-top: 25px;
    color: red;
}

.delete-account-text a:hover {
    text-decoration: none;
}


.edit-account-buttons {
    text-align: center;
    margin-top: 50px;
}




/* User Change Password */
#change-password-fields {
    max-width: 500px;
}

#change-password-field {
    margin-top: 50px;
}

.change-password-buttons {
    text-align: center;
    margin-top: 50px;
}




/* Other Articles */
.other-articles {
    margin-top: 100px;
}

.other-articles-title {
    text-align: left;
}

.other-articles-title a {
    color: black;
}

.other-articles-title a:hover {
    color: #006fa5;
}

.other-articles-title p {
    text-align: left;
}

.other-articles-title {
    margin-top: 25px;
    border-bottom: 2px solid #006fa5;
    padding-bottom: 25px;
}

.other-articles-partners {
    margin-top: 15px;
}

.other-articles-partners-photo {
    display: flex;
    overflow: hidden;
}

.other-articles-partners-photo img {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 4px solid white;
    margin-right: -14px;
}

.other-articles-description {
    font-size: 12px;
}








/* -------------------- NAVBAR -------------------------------- */


/* #Link to page
================================================== */

/* .logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
} */




